.table {
    font-size: 0.8rem !important;
}

.table > :not(caption) > * > * {
    padding: 0.2rem 0.2rem;
}

// .q-table td {
//     padding: 0.2rem 0.2rem;
//     height: 30px !important;
// }

// .q-table th{
//     padding: 0.2rem 0.2rem;
// }

.q-table .q-table__bottom-item {
    margin-bottom: 0px !important;
}

label.q-field {
    margin-bottom: 0px !important;
}
