[Unit]
Description=ttyd web terminal
After=network.target

[Service]
ExecStart=/usr/bin/ttyd -p 7681 -W bash
Restart=always
User=meganet

[Install]
WantedBy=multi-user.target
