[data-layout-mode="dark"] .pace-done {
    background-color: #202c33 !important;
}

[data-layout-mode="dark"] #page-topbar {
    background-color: #202c33 !important;
}

body[data-layout-mode=dark][data-sidebar=brand] .navbar-brand-box,
body[data-layout-mode=dark][data-sidebar=brand] .vertical-menu,
body[data-layout-mode=dark][data-sidebar=dark] .navbar-brand-box,
body[data-layout-mode=dark][data-sidebar=dark] .vertical-menu {
    background-color: #202c33 !important;
}

[data-layout-mode="dark"] .footer {
    background-color: #202c33 !important;
}

body[data-layout-mode=dark] .border,
body[data-layout-mode=dark] .border-top,
body[data-layout-mode=dark] .list-group-item,
body[data-layout-mode=dark] .nav-tabs .nav-link.active,
body[data-layout-mode=dark] .nav-tabs .nav-link.active:focus,
body[data-layout-mode=dark] .nav-tabs .nav-link.active:hover,
body[data-layout-mode=dark] .nav-tabs .nav-link:focus,
body[data-layout-mode=dark] .nav-tabs .nav-link:hover,
body[data-layout-mode=dark] .pagination .page-item.active .page-link,
body[data-layout-mode=dark] .pagination .page-item.active .page-link:focus,
body[data-layout-mode=dark] .pagination .page-item.active .page-link:hover,
body[data-layout-mode=dark] .pagination .page-item .page-link:focus,
body[data-layout-mode=dark] .pagination .page-item .page-link:hover,
body[data-layout-mode=dark] .progress-bar,
body[data-layout-mode=dark] .progress-bar-animated,
body[data-layout-mode=dark] .progress-bar-striped {
    background-color: #202c33 !important;
}


[data-layout-mode="dark"] .card-text-body {
    background: unset;
}

[data-layout-mode="dark"] a {
    color: #858d98;
}

[data-layout-mode="dark"] .fc .fc-daygrid-day-number {
    color: #5156be !important;
}

.fc-h-event .fc-event-main {
    color: #5156be !important;
}

body[data-layout-mode="dark"] {
    background-color: #202c33 !important;
}

[data-layout-mode="dark"] .card {
    background-color: #202c33 !important;
}

[data-layout-mode="dark"] .card-header {
    background-color: #202c33 !important;
}

[data-layout-mode="dark"] .card-body {
    background-color: #202c33 !important;
}

[data-layout-mode="dark"] .q-pa-md .q-table__container .q-tab-panels {
    background-color: #202c33 !important;
    border: 1px solid #3b403d !important;
    color: #adb5bd !important;
}

[data-layout-mode="dark"] .q-card {
    background-color: #202c33 !important;
    border: 1px solid #3b403d !important;
    color: #adb5bd !important;
}

[data-layout-mode="dark"] .fullscreen {
    background-color: #202c33 !important;
    border: 1px solid #3b403d !important;
    color: #adb5bd !important;
}

[data-layout-mode="dark"] span {
    color: #adb5bd !important;
}


[data-layout-mode="dark"] .q-menu {
    background-color: #202c33 !important;
    border: 1px solid #3b403d !important;
    color: #adb5bd !important;
}

[data-layout-mode="dark"] .q-table__container {
    background-color: #202c33 !important;
    border: 1px solid #3b403d !important;
    color: #adb5bd !important;
}

[data-layout-mode="dark"] .customer-buttons-wrapper {
    background-color: #202c33 !important;
}

[data-layout-mode="dark"] .panel {
    background-color: #202c33 !important;
}

[data-layout-mode="dark"] .panel-default {
    background-color: #202c33 !important;
}

[data-layout-mode="dark"] div.choices>.choices__inner {
    background-color: #363a38 !important;
}


[data-layout-mode="dark"] .multiselect-native-select .btn-group button.multiselect.dropdown-toggle.custom-select {
    background-color: #313533 !important;
    border: 1px solid #3b403d !important;
    color: #adb5bd !important;
}


table.dataTable.table-striped>tbody>tr.even>* {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05);
}
