[general]
enabled = yes
port = 5038
bindaddr = 127.0.0.1
displayconnects = no

[megaisp]
secret = CAMBIAR_EN_PRODUCCION
deny = 0.0.0.0/0.0.0.0
permit = 127.0.0.1/255.255.255.255
read = system,call,log,verbose,originate
write = system,call,originate
