.badge-Interno {
    background-color: #d7f5fc;
    border-color: #b3edf9;
    color: #03c3ec;
    padding: 0 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.badge-Externo {
    background-color: #e7e7ff;
    border-color: #d2d3ff;
    color: #696cff;
    padding: 0 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.badge-Distribuidor {
    background-color: #dcdfe1;
    border-color: #bdc2c8;
    color: #233446;
    padding: 0 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.badge-Activo {
    background-color: #dff7d3;
    border-color: #d4f5c3;
    color: #71dd37;
    padding: 0 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.badge-Inactivo {
    background-color: #fff2d6;
    border-color: #ffe6b3;
    color: #ffab00;
    padding: 0 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.badge-Bloqueado {
    background-color: #ffe0db;
    border-color: #ffc5bb;
    color: #ff3e1d;
    padding: 0 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
